---
title: Aleksandre Giorgadze
---
{% assign personalData = site.data.personal[0] %}
{% assign aboutMe = site.data.aboutme.about %}
{% assign skills = site.data.skill.skills %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/styles.css">

    <title>{{ personalData.name }}</title>
  </head>

  <body>
    <div class="columns" style="padding-top:20px">
      <div class="column is-8 is-offset-2">

        <!-- Header Section -->
        <div class="content has-text-centered">
          <h1 class="title">{{ personalData.name }}</h1>
          <div class="buttons is-centered">
            <!-- LinkedIn Button -->
            <a href="{{ personalData.linkedin }}" class="button is-light" target="_blank">
              <span class="icon">
                <i class="fa fa-linkedin"></i>
              </span>
            </a>
            <!-- GitHub Button -->
            <a href="{{ personalData.github }}" class="button is-light" target="_blank">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
            </a>
            <!-- Email Button -->
            <a href="mailto:{{ personalData.email }}" class="button is-light" target="_blank">
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
            </a>
          </div>
        </div>

        <!-- About Me Section -->
        <div class="content">
          <span class="heading"><h3>About Me</h3></span>
          {% for paragraph in aboutMe %}
            <p style="font-size: 0.8rem">{{ paragraph }}</p>
          {% endfor %}
        </div>

        <!-- Experience Section -->
        <div class="content">
          <span class="heading"><h3>Experience</h3></span>
          {% for experience in site.data.exp %}
            <div class="level is-marginless">
              <p class="is-marginless">{{ experience.company }}<br/><span class="content is-marginless" style="font-size: 0.8rem">{{ experience.role }}</span></p>
              <p style="text-align: right; font-size: 0.8rem">{{ experience.company_location }}<br/><span class="content is-marginless">{{ experience.time_duration }}</span></p>
            </div>
            <ul style="margin-top: 0.2em; list-style-type: circle;">
              {% for detail in experience.details %}
              <li class="content is-marginless" style="font-size: 0.8rem">
                <span class="heading is-marginless">{{ detail.title }}</span>
                {{ detail.description }}
              </li>
              {% endfor %}
            </ul>
          {% endfor %}
          <div class="level is-marginless">
            <p class="is-marginless">Scandiweb<br/><span class="content is-marginless" style="font-size: 0.8rem">Data Research Analyst</span></p>
            <p style="text-align: right; font-size: 0.8rem">Tbilisi, Georgia<br/><span class="content is-marginless">Jul 2023 - May 2024</span></p>
          </div>
          <ul style="margin-top: 0.2em; list-style-type: circle;">
            <li class="content is-marginless" style="font-size: 0.8rem">
              <span class="heading is-marginless">Business Development and Data Analysis</span>
              Researched and analyzed thousands of companies to identify ideal customer profile (ICP) matches for targeted outreach strategies. Utilized Salesforce CRM and other business intelligence tools to manage prospect data and track client engagement.
            </li>
            <li class="content is-marginless" style="font-size: 0.8rem">
              <span class="heading is-marginless">Quality Assurance (QA)</span>
              Performed manual QA testing to verify website functionality and ensure optimal user experience. Collaborated with developers to identify and resolve issues.
            </li>
            <li class="content is-marginless" style="font-size: 0.8rem">
              <span class="heading is-marginless">Collaboration and Process Improvement</span>
              Collaborated with an international team to refine lead qualification processes and improve conversion rates. Gained valuable insights into data-driven decision-making and B2B business development strategies.
            </li>
          </ul>
        </div>

        <!-- Projects Section -->
        <div class="content">
          <span class="heading"><h3>Projects</h3></span>
          {% for project in site.data.proj %}
            <p class="heading is-marginless">{{ project.title }}</p>
            <p style="font-size: 0.8rem">{{ project.description }}</p>
          {% endfor %}
        </div>

        <!-- Skills Section -->
        <div class="content">
          <span class="heading"><h3>Skills</h3></span>
          <ul style="font-size: 0.8rem; list-style-type: circle;">
            <li><strong>From Working Experience:</strong> {{ skills["Working Experience"] | join: ", " }}</li>
            <li><strong>From Education and Self-Improvement:</strong> {{ skills["Education and Self-Improvement"] | join: ", " }}</li>
          </ul>
        </div>

        <!-- Programming Languages Section -->
        <div class="content">
          <span class="heading"><h3>Programming Languages</h3></span>
          <p style="font-size: 0.8rem">
            {% for language in personalData.languages %}
              {{ language.language }}
            {% endfor %}
          </p>
        </div>

        <!-- Download Button at the End -->
        <div class="content has-text-centered" style="margin-top: 20px;">
          <a href="/assets/resume.pdf" class="button is-light" download>
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
          </a>
        </div>

      </div>
    </div>
  </body>
</html>